.caracteristica{
    display: flex;
    flex-wrap: wrap;
    height: 56.25rem;

    @media (min-width: 576px) {
        height: 31.25rem;
    }

    @media (min-width: 992px) {
        height: 36.875rem;
    }

    &__image{
        width: 100%;
        order: -1;

        @media (min-width: 576px) {
            width: 50%;
            order: 0;
        }
    }

    &__info{
        width: 100%;

        @media (min-width: 576px) {
            width: 50%;
        }

        &--yellow{ background: #ffc048; }
        &--cream{ background: #f8efba; }
        &--baby-blue{ background: #55e6c1; }
    }

    &__content{
        width: 70%;
        text-align: center;
        
        @media (min-width: 992px) {
            width: 18.125rem;
        }
    }

    &__title{
        font-size: 2rem;
    }
}