.table{
    width: 100%;
    margin-bottom: 6.25rem;

    @media (min-width: 992px) {
        margin-bottom: 10rem;
    }

    &__section{
        display: inherit;
    }

    &__th{
        font-size: 0.75rem;
        width: 18.75%;
        padding-top: 0.4375rem;
        padding-bottom: 0.4375rem;

        @media (min-width: 576px) {
            font-size: 1rem;
        }

        &--main{
            width: 25%;
        }
    }

    &__td{
        font-size: 0.75rem;
        width: 18.75%;
        height: 3.125rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        font-weight: 400;

        @media (min-width: 576px) {
            font-size: 1rem;
        }

        &--main{
            width: 25%;
        }
    }

    &__icon-check{
        color: #26de81;
        font-size: 0.875rem;

        @media (min-width: 576px) {
            font-size: 1.125rem;
        }
    }
}